* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    40deg,
    rgb(132, 194, 215),
    rgb(182, 255, 192)
  );
}

.container {
  background-color:forestgreen;
  width: 97%;
  height: 136vh;
  margin: 12px;
  border-radius: 12px;
}

footer {
  background-color: olivedrab;
  height: 5vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: green;
}

.logo {
  margin: 5px;
  font-size: 30px;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 12px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  background-color: rgb(157, 148, 148);
  border-radius: 10px;
  color: white;
}

section {
  width: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 12px;
}

img {
  border-radius: 12px;
}

.intro {
  padding: 20px;
  width: 40%;
}

h1 {
  font-size: 30px;
}

.last {
  width: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
}

#intro2 {
  width: 100%;
  padding: 37px;
}

#intro2 p {
  width: 50%;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

button {
  width: 95px;
  padding: 5px;
  margin: 13px;
  border-color: none;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  section {
    width: 600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  section {
    width: 900px;
    margin: auto 0;
  }
}

@media screen and (min-width: 992px) {
  section {
    width: 900px;
    margin: auto 0;
  }
}
